<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{user/base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	
	


<title>Document</title>
</head>
<body>
	<section class = "center">
			
   		
<div class="container">
  
  <div class="center">
  
<!--  -->
<div class="layout">

		<div class = "col col-main">
	
   		
   		<!-- 1st Col Start -->
		
		<table>
						<h2>User Details:</h2>
							<img th:src="@{/image/user.png}" height="125px" alt="User Icon">
							
					</table>
						
						<table border = '1' align='center'>
							
							
							
							<tr>
								<th>Name: </th>
								<th> <h4 th:text="${user.name}"></h4></th>
							</tr>
							
							
						
								<tr>
									<th>Email Id: </th>
									<th><h4 th:text="${user.email}"></h4> </th>
								</tr>
					
								<tr>
									<th>Phone No.: </th>
									<th><h4 th:text="${user.phone}"></h4> </th>
								</tr>
								
								<tr>
									<th>Status.: </th>
									<th>
										
										<div th:if=${user.status}>
											 <h4 th:text="${user.status}"></h4> 
								   		</div>
								   		
								   		<div th:unless=${user.status}>
								   			 <h4>Not Voted</h4>
								   		</div>
									
									</th>
								</tr>

								
				
						</table>
		
		</div>
		
		<!-- 1st Col End  -->
	
		<div class = "col col-complementary">

<!-- 2nd Col start -->

<form th:action = "@{/addcandidate}" method ="post">



		<div th:if=${session.vmsg}>
			 <h3 th:text="${session.vmsg}" style="color:green"></h3>
   		</div>
   		
   		<div th:unless=${session.vmsg}>
   			<div th:if=${user.status}>
			 <h2 style="color:green"> You are already <span th:text="${user.status}">Title</span> </h2> 
   			</div>
   		</div>
   		
   		
   		
   		 
		<div th:unless=${user.status}>

			<input th:value="${user.email}" name = "email" type="hidden" >
		 	<br>
		 	<input type="radio" name="candidate"  value ="candidate1" required>Candidate 1  <br><br>
		  	<input type="radio" name="candidate"  value = "candidate2" required>Candidate 2 <br><br>
		  	<input type="radio" name="candidate"  value = "candidate3" required>Candidate 3 <br><br>
		  	<input type="radio" name="candidate"  value = "candidate4" required>Candidate 4 <br><br>
		    	    
		<input type = "submit" value="Vote">
		    <br>
   	   </div>
	
 



</form>

<!-- 2nd Col End -->
</div>

</div>
<!--  -->
</div>
</div>

	<br>	
	</section>
</body>
</html>