<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section class = "center">
	

<h1>Admin Dashboard</h1>
		<div th:if=${session.msg}>
			<h3 th:text="${session.msg}" style="color:red"></h3>
   					<h3 th:text="${session.msg}" style="color:red"></h3>
   		
   		</div>
   		
   		
		<h3>Candidate 1 : Total Votes = <b style="color: limegreen"><span th:text="${c1}"></span></b></h3>
		<h3>Candidate 2 : Total Votes = <b style="color: limegreen"><span th:text="${c2}"></span></b></h3>
		<h3>Candidate 3 : Total Votes = <b style="color: limegreen"><span th:text="${c3}"></span></b></h3>
		<h3>Candidate 4 : Total Votes = <b style="color: limegreen"><span th:text="${c4}"></span></b></h3>
		
		
		
	
   		
   		

	<br>	
	</section>
</body>
</html>